* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #ef807c;
  background-image: url(img/bg-intro-desktop.png);
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

main {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
  align-items: center;
  height: 100vh;
  gap: 50px;
}

.caption-container{
  padding: 20px;
  width: 40%;
}

.caption-container h1 {
  line-height: 1.2;
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.caption-container p {
  font-size: 16px;
  color: white;
  margin: 0 0 20px 0;
  /* width: 85%; */
}

.right-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
}

.discount-button button {
  border-radius: 10px;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  border: none;
  color: white;
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0px 8px 0px hsla(249, 10%, 26%, 0.25);
}

.form-section {
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 8px 0px hsla(249, 10%, 26%, 0.25);
}

input {
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.265);
}

.form-section button {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  border: 1.5px solid rgba(128, 128, 128, 0.265);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  background-color: hsl(154, 59%, 51%);
}

.form-section p {
  font-size: 10px;
  color: rgba(128, 128, 128, 0.535);
  margin: 0 0 10px 0;
  text-align: center;
}

/* screen size: Desktop(1440px) */
@media screen and (max-width: 1440px) {
  main {
    width: 85%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .caption-container {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 50%;
  }

    .right-container{
      width: 50%;
      padding: 20px;
  }


  .caption-container h1 {
    font-size: 40px;
  }

  .discount-button button {
    padding: 20px 0;
    font-size: 16px;
    height: inherit;
    line-height: 1.5;
  }

  .form-section {
    width: 100%;
    padding: 20px;
    margin-bottom: 80px;
  }

  .form-section p {
    font-size: 12px;
    text-align: center;
  }
}
/* screen size: Desktop(992px) */
@media screen and (max-width: 992px) {
  main {
    width: 95%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .caption-container {
    width: 100%;
  }

  .right-container{
    width: 100%;
  }

  .caption-container h1 {
    text-align: center;
    font-size: 40px;
    margin: 100px 0 20px;
  }

  .caption-container p {
    text-align: center;
    margin: auto;
    width: 80%;
  }

  .discount-button button {
    padding: 20px 0;
    font-size: 16px;
    height: inherit;
    line-height: 1.5;
  }

  .form-section {
    width: 100%;
    padding: 20px;
    margin-bottom: 80px;
  }

  .form-section p {
    font-size: 12px;
    text-align: center;
  }
}

/* screen size: Mobile(600px) */
@media screen and (max-width: 600px) {
  body {
    background-image: url(img/bg-intro-mobile.png);
  }

  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
  }
  .caption-container {
    width: 100%;
  }

  .right-container{
    width: 100%;
  }
  .caption-container h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 150px;
  }

  .caption-container p {
    text-align: center;
    font-size: 15px;
    margin: auto;
    width: 100%;
  }

  .discount-button button {
    padding: 20px 55px;
    font-size: 16px;
    height: inherit;
    line-height: 1.5;
  }

  .form-section {
    width: 100%;
    padding: 10px;
    margin-bottom: 80px;
  }

  .form-section p {
    font-size: 12px;
    text-align: center;
  }
}
